/* 只控制 Markdown 自动生成的图片大小 */
.post-content img:not([width]):not([style]) {
  max-width: 75%;
  display: block;
  margin: 1em auto;
  cursor: zoom-in;
}
/* Spotlight 图片悬停效果 */
.post-content a.spotlight img {
  transition: opacity 0.3s;
}

.post-content a.spotlight img:hover {
  opacity: 0.9;
}