/* 强制控制图片大小 */
.post-content img:not([width]):not([style]),
.post-content a.spotlight > img {
  max-width: 75% !important;
  display: block !important;
  margin: 1em auto !important;
  height: auto !important;
}

.post-content a.spotlight > img {
  cursor: zoom-in !important;
  transition: opacity 0.3s;
}

.post-content a.spotlight > img:hover {
  opacity: 0.9;
}

/* 响应式 */
@media (max-width: 768px) {
  .post-content img:not([width]):not([style]),
  .post-content a.spotlight > img {
    max-width: 100% !important;
  }
}